
src/utils/data_management/test.go
data/preprocessed/chinaBotsUnlabelled.csv
data/preprocessed/combineAndLabel/chinaBotsUnlabelled_counted_StandardizedFieldnames.csv
data/preprocessed/combineAndLabel/genuineUnlabelled_modified_StandardizedFieldnames.csv
data/preprocessed/count/chinaBotsUnlabelled.csv
data/preprocessed/genuineUnlabelled.csv
data/preprocessed/standardizeFieldnames/chinaBotsUnlabelled_counted.csv
data/Combined_chinaBotsUnlabelled_counted_StandardizedFieldnames_AND_genuineUnlabelled_modified_StandardizedFieldnames.csv
data/preprocessed/tweetsGenuineUnlabelled.csv
data/preprocessed/combineAndLabel/genuineUnlabelled_StandardizedFieldnames.csv
data/preprocessed/standardizeFieldnames/genuineUnlabelled.csv
data/tweetsGenuineUnlabelled.csv
data/chinaBotsLabelled.csv
data/Combined_english_fake_followers_StandardizedFieldnames_AND_genuineUnlabelled_StandardizedFieldnames_10000.csv
data/Combined_english_fake_followers_StandardizedFieldnames_AND_genuineUnlabelled_StandardizedFieldnames_100000.csv
data/Combined_english_fake_followers_StandardizedFieldnames_AND_genuineUnlabelled_StandardizedFieldnames_25000.csv
data/Combined_english_fake_followers_StandardizedFieldnames_AND_genuineUnlabelled_StandardizedFieldnames_30000.csv
data/preprocessed/combineAndLabel/english_fake_followers_StandardizedFieldnames.csv
data/preprocessed/standardizeFieldnames/english_fake_followers.csv
