<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(39.952724, -75.163526);
		var myOptions = {
			zoom: 10,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

var heatmap_points = [
new google.maps.LatLng(46.959982, 22.054173),
new google.maps.LatLng(40.605326, -123.171268),
new google.maps.LatLng(44.760644, -85.616530),
new google.maps.LatLng(36.701463, -118.755997),
new google.maps.LatLng(39.783730, -100.445882),
new google.maps.LatLng(30.181881, -97.420829),
new google.maps.LatLng(44.046236, -123.022029),
new google.maps.LatLng(33.448437, -112.074142),
new google.maps.LatLng(51.502173, -0.187495),
new google.maps.LatLng(36.701463, -118.755997),
new google.maps.LatLng(42.460592, -83.134648),
new google.maps.LatLng(39.783730, -100.445882),
new google.maps.LatLng(38.894893, -77.036553),
new google.maps.LatLng(39.783730, -100.445882),
new google.maps.LatLng(42.460592, -83.134648),
new google.maps.LatLng(31.816038, -99.512099),
];

var pointArray = new google.maps.MVCArray(heatmap_points);
var heatmap;
heatmap = new google.maps.visualization.HeatmapLayer({

data: pointArray
});
heatmap.setMap(map);
heatmap.set('threshold', 10);
heatmap.set('radius', 10);
heatmap.set('opacity', 0.600000);
heatmap.set('dissipating', true);
	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
