<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(39.952724, -75.163526);
		var myOptions = {
			zoom: 10,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

var heatmap_points = [
new google.maps.LatLng(33.020618, -80.174754),
new google.maps.LatLng(39.783730, -100.445882),
new google.maps.LatLng(33.695646, -78.890041),
new google.maps.LatLng(33.470971, -81.974843),
new google.maps.LatLng(34.000749, -81.034331),
new google.maps.LatLng(33.687439, -80.436374),
new google.maps.LatLng(54.702354, -3.276575),
new google.maps.LatLng(34.198444, -79.767166),
new google.maps.LatLng(33.827841, -78.680032),
new google.maps.LatLng(33.006276, -80.109334),
];

var pointArray = new google.maps.MVCArray(heatmap_points);
var heatmap;
heatmap = new google.maps.visualization.HeatmapLayer({

data: pointArray
});
heatmap.setMap(map);
heatmap.set('threshold', 10);
heatmap.set('radius', 10);
heatmap.set('opacity', 0.600000);
heatmap.set('dissipating', true);
	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
